<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>utm</id>
  <fullName>UTM</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw53pCnB6rAMqXPBMmApNoginrylzCNrxVYzVgVRS4Vb6vn5VXcncOu9Qm5zXbPXQwyor13rKSV1Kpha+Eb3mWNw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>95eed459-38e1-4254-91f7-a9eb380fffae</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>1865f30229a4c1aed0b8212f2b85e6511fe1744789e32316c45050c720cc4ac1</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$uqUr3o0tW3WcxGrl4jZa3.25obbVADEAA.jm1IvRk4U2kDCzD1F9S</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.11">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32"/>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.69">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>78045f0da7ab56ba</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1594291636780</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>